/* ===============================
    Portfolio Project CSS Template
    =============================== */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables for easy theming */
:root {
  --primary-color: #20262D;
  --secondary-color: #A6A28B;
  --title-color: #957652;
  --font-color: #121312;
  --secondary-font-color: #F7ECE6;
  --font-main: 'Roboto', sans-serif;
}

/* Body styles */
body {
  font-family: var(--font-main);
  background: var(--secondary-color);
  color: var(--font-color);
  line-height: 1.6;
}

body ul {
  list-style-type: none;
}

/* Header styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
}

  /* Profile picture and title */

  .banner_picture {
    padding-left: 100px;
  }

  header img {
    border-radius: 50%;
    border: 10px var(--secondary-color) solid;
  }

  /*Navigation style*/

  .contact_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10rem;
    height: 100%;
    border-left: 2px solid var(--secondary-color);
  }

    ul li {
    color: var(--secondary-font-color);
    margin: 1rem;
    transition: color 0.2s;
  }

  .contact_bar a {
    color: var(--secondary-font-color);
    text-decoration: none;
    transition: all 200ms linear;
  }

  .contact_bar a:hover {
    color: var(--secondary-color);
  }

/* Main content */
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

/* Section styles */
section {
  margin-bottom: 2rem;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section h2 {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--primary-color);
}

.about_me p {
  padding: 1.5rem 0 0 1.5rem;
}

.social_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0rem 1.7rem;
}

.button_link {
  display: inline-block;
  padding: 0.8rem;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--font-color);
  text-decoration: none;
  transition: all 150ms linear;
}

.button_link:hover {
  transform: translateZ(5px);
  box-shadow: 2px 2px 5px var(--font-color);
}

/* Skill icons */

.skills,
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  padding: 1rem;
}

.skill_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 2px var(--primary-color) solid;
  border-radius: 25px;
}

.skill_box img {
  width: 150px;
}

.skill_box p {
  padding: 1rem;
  border-radius: 20px;
  color: white;
  background-color: var(--primary-color);
}

.skill_box a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all linear 100ms;
}

.skill_box a:hover {
  color: var(--title-color);
}

/* Projects style */

.project_box {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 5px;
  width: 300px;
  padding: 0 20px;
  margin: 20px 10px;
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  text-align: start;
}
  .project_box h3 {
    width: 300px;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
  }
  .project_box p {
    margin-bottom: 15px;
    line-height: 20px;
    text-align: center;
  }
  .project_box img {
    border-radius: 25px;
    transition: all 200ms ease-in;
  }
    .project_box img:hover {
      box-shadow: 4px 4px 10px var(--font-color);
    }

/* Footer styles */
footer {
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner_picture {
    padding-left: 0;
  }

  main {
    padding: 0.5rem;
  }

  .contact_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-left: none;
    width: 100%;
  }

  nav a {
    margin: 0 0.5rem;
  }

  main h2 {
    text-align: center;
    font-size: 2rem;
  }

  .social_links,
  .skills,
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

}